{
    "extends": ["react-app", "prettier"],
    "plugins": ["react", "prettier"],
    "rules": {
        "prettier/prettier": [
            "warn",
            {
                "semi": false,
                "singleQuote": true,
                "tabWidth": 2,
                "trailingComma": "all",
                "printWidth": 120,
                "arrowParens": "always",
                "jsxSingleQuote": true,
                "endOfLine": "auto"
            }
        ]
    }
}